.container {
    display: none;
    
    
}
.container2{
    display: none;

    }
.container3{
    display: none;
    }
.container4{
    display: none;
    }
.container5{
    display: none;
    }
.container6{
    display: none;
    }
.container7{
    display: none;
    }
.container8{
    display: none;
    }

.center{
    text-align: center;

}

   

button{
    background-color: rgb(230, 238, 233);
    width: 30%;
    height: 30px;
    box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.3);
    
}

.cor{

    background-color: rgb(8, 170, 32);
    width: 90%;
}

p{
    color: rgb(13, 14, 14);
    font-size: 200%;
}

h1{
    text-align: center;
}



