#body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, #651C70 10%, #352A66 60%, #034F73 80%);
}

section{
    background-color: #e2e2e2;
    border-radius: 6px;
    box-shadow: #000 0 1px 6px;
}

#nav{
    background-image: linear-gradient( to right, #000, #034f73, #288a87, #6cf3ca, #fff);
    box-shadow: #000 0 2px 10px;
}

#logo{
    width: 10em;
}
/*
#logoN{
    width: 20em;
}
*/
#navItens li a{
    text-shadow: #fff 1px 1px 4px;
    color: #034f73;
}

#navItens li a:hover{
    text-decoration: underline;
    text-shadow: #fff 1px 0 4px;
}

#botao{
    background-color: #288a87;
    color: #fff;
    transition: 500ms;
}

#botao:hover{
    background-color: #034f73;
    transition: 500ms;
}

#admin{
    color: aliceblue;
}
