#cards{
    gap: 1em;
    max-width: 540px;
}

.cartao{
    box-shadow: 1px 1px 4px #000;
}

#linkLogin{
    text-decoration: none;
}

#botaoRetorno{
    background-color: #288a87;
    border-radius: 8px;
    border: none;
    transition: 500ms;
    color: #fff;
    text-decoration: none;
}

#botaoRetorno:hover{
    background-color: #034f73;
    transition: 500ms;
}