#body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    background-color: #e2e2e2;
    border-radius: 6px;
    box-shadow: #000 0 1px 6px;
}

#nav{
    background-color: #3ca6ae;
    box-shadow: #000 0 2px 10px;
}

#logo{
    width: 10em;
}

main h1{
    font-size: 46px;
}

#navItens li a{
    text-shadow: #000 1px 1px 4px;
    color: #ccc;
}

#navItens li a:hover{
    text-decoration: underline;
    text-shadow: #000 1px 0 4px;
}


.profLink{
    background-color: #3ca6ae;
    box-shadow: #000 2px 2px 6px;
    border-radius: 4px;
    width: 20%;
    text-decoration: none;
    padding: 20px 0;
    color: white;
    font-size: 22px;
}

.profLink:hover, #btnForm:hover{
    cursor: pointer;
    background-color: #2f7b81;
}

h2{
    font-size: 30px;
}

#nota{
    background-color: #b0c3c7;
    width: 40%;
    height: 9em;
    font-size: 36px;
    border: 3px solid #000000;
    border-radius: 10px;
    box-shadow: #000 0 2px 10px;
}

#media{
    font-size: larger;
    width: 2em;
    border: #000 solid 4px;
    background-color: #e2e2e2;
    border-radius: 6px;
    box-shadow: #000 0 1px 6px;
}

#formTurma{
    width: 40%;
    background-color: #b0c3c7;
    padding: 25px;
    border: #000 solid 2px;
    border-radius: 6px;
    box-shadow: #000 0 1px 6px;
    font-size: 26px;
}

#itemForm{
    width: 90%;
    font-size: 20px;
    padding: 10px;
}

#btnForm{
    width: 25%;
    padding: 10px;
    background-color: #3ca6ae;
    border-radius: 6px;
}

#slide1, #slide2, #slide3{
    text-decoration: none;
    color: #3ca6ae;
    font-weight: bold;
    font-size: 36px;
}

#slide1:hover, #slide2:hover, #slide3:hover{
    cursor: pointer;
}

#adicionarProf{
    background-color: #3ca6ae;
}

#adicionarProf:hover{
    background-color: #2f7b81;
}